<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="../styles/base.css">
</head>
<%- include('./../../layout/head') %>
<%- include('./../../layout/header') %>
<body>
   
    <div id="one"><h2>Search by Title or Author</h2></div>
    <form action="/searches" method="POST">
        <input type="text" name="name" value="Enter a title or author">
    
        author<input type="radio" value="author" name="searchBy">
        title<input type="radio" value="title" name="searchBy">
        <input type="submit">
      </form>

<%- include('./../../layout/footer') %>
</body>
</html>