<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book App</title>
    <link rel="stylesheet" href="styles/base.css">
</head>
<body>
    <h1>New Book search</h1>

    <a href="/searches/new">Enter</a>

    <% booksFromDB.forEach(value => { %>
        <p><%= value.id%></p>

        <%- include('./books/detail', value) %>
        <a href="/books/<%= value.id%>">Detail View</a>

     
    <% }) %>

    <p><%= booksFromDB.length %></p>
</body>
</html>