body {
    background-color: rgb(108, 108, 108);
    color: rgb(213, 213, 213);
    text-shadow: rgb(31, 31, 31);
    max-width:760px;
    min-width: 480px;
    margin: auto;
}
section {
    display: flex;
    flex-direction: column;
    background-color: rgb(176, 173, 173);
    margin:30px;
    padding: 30px;
}
section img {
    align-self: center;
    margin:15px auto;
}

header {
    display: flex;
    background-color: rgb(5, 5, 5);
    color:rgb(255, 251, 251);
    width: 100%;
    /* height:100px; */
}
h1 {
    margin-left: 20px;
}
header svg {
    margin-left: auto;
    align-self: center;
    margin-right: 20px;
}
#one {
    background-color: rgb(75, 75, 75);
    height: 50px;
    display:flex;
}
h2 {
    font-size: 15pt;
    text-align: center;
    margin:auto;
    align-self: center;    
}
h3, p, form{
    font-size: 10pt;
    text-align: center;
    margin:auto;
    align-self: center;
    padding: 10px;    
}
section form button {
    background-color: rgb(52, 52, 52);
    color: whitesmoke;
    width: 300px;
    height: 50px;
}


#one {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

#one input {
    margin:auto;
    /* width:80%; */
    background-color: rgb(233, 233, 233);
    padding: 10px;
}
#one div {
    margin:auto;
    width:80%;
    background-color: rgb(203, 199, 199);
    margin:10px auto;
    height:30px;
    padding: 10px;  
    color:black;  
}

.two {
    width: 80%;
}
#two {
    background-color: rgb(52, 52, 52);
    width: 70%;
    height:40px;
    align-self: center;
    color: rgb(216, 213, 213);
}
/* books/show.ejs */
#three {
    background-color: rgb(96, 94, 94);
    margin-bottom: 20px;
}
#three section{
    background-color:none;
}
#three button {
    background-color: rgb(52, 52, 52);
    color:white;
}
fieldset {
    
    display:grid;
    grid-template-columns: 1fr 1fr;
}
fieldset form {
    margin-left: 0px;
    margin-right: 0px;
}
fieldset form button{
    width:100%;
    
}
#four {
    margin: 30px auto 10px auto;
    
}
#five {
    display:flex;
    flex-direction: column;
    width:75%;
}
#five input{
    height:30px;
    margin: 8px;

}
#six {
    background-color: rgb(96, 94, 94);
    margin-bottom: 20px;
}
#six section fieldset {
    display: none;
}